.container{
	height: 100%;
	display: flex;
	flex-direction: row;
}

.config{
	/*background-color: blue;*/
	height: 100%;
	width: 25%;
}

.simu{
	/*background-color: red;*/
	height: 100%;
	width: 70%;
}

.schemaCenter{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nid{
	border: 1px solid grey;
	padding: 20px;
}

.food{
	/*background-color: red;*/
}
.path{
	border: 1px solid grey;
}
.path td, .food td{
	border: 1px solid grey;
}
a{
	margin: 2px !important;
}

input{
	text-align: center !important;
}
h3{
	margin: 0 !important;
}
.w3-group{
	margin:5px !important;
}

.fenSim{
	padding-left: 10px !important;
	padding-right: 10px !important;
}

canvas{
	border: 1px solid grey;
	 image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

.superTable, .superTable td{
	border:1px solid grey;
}

.fb{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around; 
}

.fb div{
	align-self: center;
}